<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Saisie d'un produit</title>
</head>
<body>
	<div layout:fragment="content1">
		<div class="col-md-6">
		 <div class="panel panel-default">
		   <div class="panel-heading">Nouveau produit</div>
		     <div class="panel-body">
		     <form th:action="@{/admin/save}" method="post">
				<div class="form-group">
					<label class="control-label">Désignation:</label> 
					<input class="form-control" type="text" name="designation"  th:value="${produit.designation}" />
						<span th:errors="${produit.designation}" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Prix:</label> 
					<input class="form-control" type="text" name="prix" th:value="${produit.prix}" />
						<span th:errors="${produit.prix}" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Quantité:</label> 
					<input class="form-control" type="text" name="quantite"  th:value="${produit.quantite}"/>
						<span th:errors="${produit.quantite}" class="text-danger"></span>
				</div>
				<button class="btn btn-primary" type="submit">Save</button>
			</form>
		     </div>	
		     </div>
		</div>
	</div>
</body>
</html>