<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Page layout</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/user/index}">Home</a></li>
      <li><a th:href="@{/admin/formProduit}">Produits</a></li>
      <li><a href="#">Catégories</a></li>
      <li><a href="#">Catalogue</a></li>
    </ul>
    <ul class="nav nav-bar pull-right">
    <li>
    <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
    </li>
    </ul>
  </div>
</nav>
<section layout:fragment="content1">
</section>

<footer></footer>
</body>
</html>